In [1]:
%matplotlib inline 
import pandas as pd 
from pandas.api.types import CategoricalDtype
import numpy as np
from textwrap import wrap 
import matplotlib
import matplotlib.pyplot as plt
matplotlib.style.use('ggplot')
import matplotlib.ticker as ticker
import seaborn as sns
from matplotlib import cm


matplotlib.__version__

'3.1.0'

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.444179 -2.629456  0.160092  0.330534
2013-01-02 -1.057265  0.983437  0.259458  0.597777
2013-01-03 -1.282221 -0.456272  1.384779 -1.485203
2013-01-04 -2.052293 -0.563320  0.491395 -0.280236
2013-01-05  1.458759  0.114469 -0.448336 -0.365397
2013-01-06  0.510213  0.032065 -0.710459  0.956728

In [ ]:
df2 = pd.DataFrame(['A' : 1.])